<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>
<body>
    Hoy es {{dia}} <br>
    El primer familiar es {{nombre}}, tiene {{edad}} años y nació el {{nacimiento}} <br>
    El segundo familiar es {{nombre2}}, tiene {{edad2}} años y nació el {{nacimiento2}} <br>
    El tercer familiar es {{nombre3}}, tiene {{edad3}} años y nació el {{nacimiento3}} <br>
    El cuarto familiar es {{nombre4}}, tiene {{edad4}} años y nació el {{nacimiento4}} <br>
</body>
</html>